# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cmake
.bin

*.db3
*.metadata.yaml


/examples/07_ROS_Pakete/src/log/*
/examples/07_ROS_Pakete/src/build/*
/examples/07_ROS_Pakete/src/install/*

/examples/08_ROS_Kommunikation/ws_service/log/*
/examples/08_ROS_Kommunikation/ws_service/build/*
/examples/08_ROS_Kommunikation/ws_service/install/*
